<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Details of waste collected</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast">
  <ion-refresher spellcheck="z-index:9999" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <form>
        <div>
          <div *ngIf="language">             
            <div *ngIf="language == 'english'">                
              <p>Selected District</p>
            </div>
            <div *ngIf="language == 'kannada'">
              <p style="font-size: 12px;">ಆಯ್ದ ಜಿಲ್ಲೆ</p>
            </div>
          </div>
          <!-- <p>Selected District</p> -->
          <h3 style="font-weight: bold;"> {{firstDis}} </h3>
          <!-- <ion-list>
            <ion-item>
              <ion-select #d interface="action-sheet" [(ngModel)]="firstDis" placeholder="Select District"
                (ionChange)="distfunct(d.value)" name="dis">
                <ion-select-option *ngFor="let dis of districtList" [value]="dis"> {{dis.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
        </div>
        <div *ngIf="selectedValue">
          <div *ngIf="language">             
            <div *ngIf="language == 'english'">                
              <p>Selected Center</p>
            </div>
            <div *ngIf="language == 'kannada'">
              <p style="font-size: 12px;">ಆಯ್ದ ಕೇಂದ್ರ</p>
            </div>
          </div>
          <!-- <p>Selected Center</p> -->
          <h3 style="font-weight: bold;"> {{firstCen}} </h3>
          <h3></h3>
          <!-- <ion-list>
            <ion-item>
              <ion-select #c interface="action-sheet" [(ngModel)]="firstCen" placeholder="Select District"
                (ionChange)="callcenter(c.value)" name="dis">
                <ion-select-option *ngFor="let cen of center" [value]="cen"> {{cen.centerName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
        </div>
      </form>
      <span *ngIf="Panchayat?.length>0">
        <!-- {{panchayatList}} -->
        <div class="top">
          <div *ngIf="language">             
            <div *ngIf="language == 'english'">                
              <p>Panchayats : <span>{{Panchayat}} </span> </p>
            </div>
            <div *ngIf="language == 'kannada'">
              <p>ಪಂಚಾಯತ್ : <span>{{Panchayat}} </span> </p>
            </div>
          </div>
          <!-- <p>Panchayats : <span>{{Panchayat}} </span> </p> -->
        </div>
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-content>
      <div *ngIf="language">             
        <div *ngIf="language == 'english'">                
          <h4>Overview</h4>
        </div>
        <div *ngIf="language == 'kannada'">
          <h4>ಅವಲೋಕನ</h4>
        </div>
      </div>
      <!-- <h4>Overview</h4> -->
      <form>
        <div>
          <div *ngIf="language">             
            <div *ngIf="language == 'english'">                
              <p>Total waste</p>
            </div>
            <div *ngIf="language == 'kannada'">
              <p>ಒಟ್ಟು ತ್ಯಾಜ್ಯ</p>
            </div>
          </div>
          
          <h3 style="font-weight: bold;"> {{totalCollection}} Kg </h3>
          <!-- <ion-list>
            <ion-item>
              <ion-select #d interface="action-sheet" [(ngModel)]="firstDis" placeholder="Select District"
                (ionChange)="distfunct(d.value)" name="dis">
                <ion-select-option *ngFor="let dis of districtList" [value]="dis"> {{dis.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
        </div>
        <div *ngIf="Tdate">
          <div *ngIf="language">             
            <div *ngIf="language == 'english'">                
              <p>Collection of {{Tdate}}</p>
            </div>
            <div *ngIf="language == 'kannada'">
              <p>ಇಂದಿನ ಸಂಗ್ರಹಣೆ {{Tdate}}</p>
            </div>
          </div>
          
          <h3 style="font-weight: bold;"> {{todayTotal}}kg </h3>
          <h3></h3>

        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <!-- <div style="display: flex;
  justify-content: space-evenly;">
    <ion-button style="width: 45% ;">Recyclable</ion-button>
    <ion-button style="width: 45%;">Non Recyclable</ion-button>
  </div> -->
  <ion-grid style="padding-bottom: 30px">
    <ion-row>
      <!-- <ion-col style="display: flex;justify-content: center;" size="4" *ngFor="let waste of typeOfWaste; let i =index"
        (click)="modal($event,waste)"> -->
      <ion-col style="display: flex;justify-content: center;" size="4" *ngFor="let waste of typeOfWaste; let i =index">
        <div *ngIf="waste.value" style="width:100%">
          <div style="display: inline-block; text-align: center;width: 100%; ">
            <ion-card style="margin: 1px;" color="light">
              <ion-card-header>
                <img src="../../assets/{{waste.name}}.png"><br>
                <br>
                <!-- <img src="../../assets/icon/Paper.png">{{waste.name}} <br><br> -->
                <span style="font-weight: bold; color: green; text-align: right;font-size: 12px; ">
                  {{waste.value}} kg</span> <br>
                <!-- <span *ngIf="waste.delete > 0" style="font-weight: bold; color: red; text-align: right; ">
                  Sell {{waste.delete}} kg</span> -->
              </ion-card-header>
            </ion-card>
            <div *ngIf="language">             
              <div *ngIf="language == 'english'">                
                <p style="font-size: 12px;" >{{waste.name}}  </p>
              </div>
              <div *ngIf="language == 'kannada'">
                <p style="font-size: 12px;"> {{waste.kannadaName}}</p>
              </div>
            </div>
          </div>
        </div>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>